[submodule "Library-management-backend"]
	path = Library-management-backend
	url = https://github.com/ziadhany/Library-management-backend
[submodule "Library-management-frontend"]
	path = Library-management-frontend
	url = https://github.com/ziadhany/Library-management-frontend
